# Can be overriden using --image option

# Default to s3a://<s3.bucket>
# online_data_prefix: s3a://fink-broker-online
producer: ztf

log_level: INFO

#
# Parameters used to run the stream2raw task
#
stream2raw:
  kafka:
    topic: ztf_public_20200101

#
# Parameters used to run the raw2science task
#
raw2science:
  cores: "2"
  coreRequest: "0"
  memory: "4000m"
  instances: "2"

#
# Parameters used to run the distribution task
#
distribution:
  memory: "2000m"
  executor:
    memoryOverhead: "1000m"

