[run]
branch = false
parallel = true
data_file = ${PWD}/.coverage
omit=
    $SPARK_HOME/*
    setup.py
    dist/*
    ${PWD}/fink_broker/slackUtils.py
    ${PWD}/bin/push_to_tns.py
    ${PWD}/bin/index_archival.py
    src/*
    fink_alert_simulator/*
