language: python

dist: xenial

python:
  - "3.6"
  - "3.7"

addons:
  apt:
    packages:
      - axel
  sonarcloud:
    organization: "astrolabsoftware"
    token:
      secure: ${SONAR_KEY}

before_install:
  - export FINK_HOME="/home/travis/build/astrolabsoftware/fink-broker"
  # Install Java 8 for Xenial
  - source conf/java8_for_xenial.sh
  - export PATH=$HOME/.local/bin:$PATH
  # Download data used for the test suite
  - cd datasim; ./download_ztf_alert_data.sh; cd ..

install:
  # Download spark 2.4.0
  - "[ -f spark ] || mkdir spark && cd spark && axel http://www-us.apache.org/dist/spark/spark-2.4.0/spark-2.4.0-bin-hadoop2.7.tgz && cd .."
  - tar -xf ./spark/spark-2.4.0-bin-hadoop2.7.tgz
  - export SPARK_HOME=`pwd`/spark-2.4.0-bin-hadoop2.7
  - echo "spark.yarn.jars=${SPARK_HOME}/jars/*.jar" > ${SPARK_HOME}/conf/spark-defaults.conf
  - echo "spark.python.daemon.module coverage_daemon" > ${SPARK_HOME}/conf/spark-defaults.conf
  - export SPARKLIB=${SPARK_HOME}/python:${SPARK_HOME}/python/lib/py4j-0.10.7-src.zip
  - export PYTHONPATH="${SPARKLIB}:${FINK_HOME}:${FINK_HOME}/python:$PYTHONPATH"

  # Python deps
  - pip install --upgrade pip setuptools wheel
  - pip install -r requirements.txt

script:
  # Execute tests and report coverage
  - ./fink start simulator -c conf/fink.conf.travis
  - ./coverage_and_test.sh
  - bash <(curl -s https://codecov.io/bash)

  # Scan with sonarqube
  - coverage xml -i
  - sonar-scanner
