numpy>=1.16
coverage>=4.2
coveralls
pandas
confluent-kafka>=0.11.4
avro-python3
Cython
fastavro
pyarrow==0.14.1
codecov
slackclient
astropy
astroquery
scipy
scikit-learn
-e git://github.com/dgodinez77/LIA.git#egg=LIA
