# Dependencies for Fink
numpy>=1.17
coverage>=4.2
coveralls
pandas==1.1.5
confluent-kafka>=0.11.4
avro-python3
Cython
fastavro==0.21.17
pyarrow==0.14.1
codecov
slackclient
astropy
astroquery
fink_filters
fink_science>=0.3.0
scipy
scikit-learn
healpy
fink-tns>=0.6
scikit-image

# microlensing
-e git://github.com/dgodinez77/LIA.git@FINK#egg=LIA

# supernnova
supernnova
h5py
natsort
colorama
seaborn
