# Dependencies for Fink
numpy>=1.17
coverage>=4.2
coveralls
pandas==1.3.5
# > 1.9. see https://github.com/edenhill/librdkafka/issues/3263
confluent-kafka==1.9.2
avro-python3
Cython
fastavro==1.6.0
pyarrow==9.0.0
codecov
slackclient
astropy
astroquery
fink_filters>=3.5
fink-science>=3.8.0
fink-utils>=0.8.0
scipy
scikit-learn==1.0.2
scikit-image
healpy
fink-tns>=0.6
tensorflow_addons

# Active learning
-e git+https://github.com/emilleishida/fink_sn_activelearning.git@e16152091ff8f9ece8d4823e8da1f498d60ac45f#egg=actsnfink
-e git+https://github.com/COINtoolbox/ActSNClass.git@2c61da91a9d13834d39804fc35aeb3245ba20755#egg=actsnclass

# microlensing
-e git+https://github.com/JulienPeloton/LIA.git@4513654b15a0760312eff2661b0fcf4989171ce3#egg=LIA

# supernnova -- elasticc branch
-e git+https://github.com/supernnova/SuperNNova.git@1a306410966222f68e57ddd38d4fd6bc2e929cdc#egg=supernnova
h5py
natsort
colorama
seaborn

# SNAD
light-curve-python>=0.3.5
light-curve>=0.4.0

# AGN
iminuit==2.11.2

# kilonova @ sklearn==1.0.2
-e git+https://github.com/b-biswas/kndetect@kndetect#egg=kndetect
