# Dependencies for Fink
numpy>=1.17
coverage>=4.2
coveralls
pandas==1.1.5
confluent-kafka>=0.11.4
avro-python3
Cython
fastavro
pyarrow
codecov
slackclient
astropy
astroquery
fink_filters>=1.6
fink_science>=0.5.1
scipy
scikit-learn
healpy
fink-tns>=0.6

# microlensing
-e git+https://github.com/JulienPeloton/LIA.git@4513654b15a0760312eff2661b0fcf4989171ce3#egg=LIA

# supernnova
supernnova
h5py
natsort
colorama
seaborn
