apiVersion: "sparkoperator.k8s.io/v1beta2"
kind: SparkApplication
metadata:
  name: {{ include "fink.fullname" . }}-stream2raw
spec:
{{- include "fink.common" . | nindent 2 }}
  mainApplicationFile: local:///home/fink/fink-broker/bin/ztf/stream2raw.py
  arguments: {{- include "fink.commonargs" . | nindent 4 }}
    - '-servers'
    - '{{ .Values.stream2raw.kafka.in_sockets }}'
    - '-schema'
    - '{{ .Values.stream2raw.fink_alert_schema }}'
    - '-startingoffsets_stream'
    - '{{ .Values.stream2raw.kafka.starting_offset }}'
    - '-topic'
    - '{{ tpl .Values.stream2raw.kafka.topic . }}'
    - '-night'
    - '{{ .Values.night }}'
  sparkVersion: "3.4.1"
  sparkConf: {{- include "fink.s3config" . | nindent 4 }}
  driver:
    cores: {{ tpl .Values.distribution.cores . }}
    coreRequest: "{{ tpl .Values.stream2raw.coreRequest . }}"
    env: {{- include "fink.hdfsconfig" . | nindent 6 }}
    memory: "{{ tpl .Values.stream2raw.memory . }}"
    labels:
      version: 3.4.1
    serviceAccount: spark
    javaOptions: "-Divy.cache.dir=/tmp -Divy.home=/tmp -Dcom.amazonaws.sdk.disableCertChecking=true"
  executor:
    cores: {{ tpl .Values.distribution.cores . }}
    coreRequest: "{{ tpl .Values.stream2raw.coreRequest . }}"
    env: {{- include "fink.hdfsconfig" . | nindent 6 }}
    memory: "{{ tpl .Values.stream2raw.memory . }}"
    instances: {{ tpl .Values.distribution.instances . }}
    javaOptions: "-Dcom.amazonaws.sdk.disableCertChecking=true"
    memory: "512m"
    labels:
      version: 3.4.1
{{- if eq .Values.monitoring.enabled true }}
  monitoring:
    exposeDriverMetrics: true
    exposeExecutorMetrics: true
    prometheus:
      # Added in Dockerfile
      jmxExporterJar: "/opt/spark/jars/jmx_prometheus_javaagent-1.1.0.jar"
      port: 8090
{{- end }}

