name: "e2e: platform=k8s, survey=ztf, science=false, infra=github"
on:
  push:
  pull_request:
    branches:
      - master
  schedule:
    # At 03:00 UTC on Sunday
    - cron: '0 3 * * 0'
  workflow_dispatch:
jobs:
  call-workflow-passing-data:
    uses: ./.github/workflows/e2e-common.yml
    with:
      suffix: "noscience"
      runner: "['ubuntu-22.04']"
    secrets:
      registry_username: ${{ secrets.REGISTRY_USERNAME }}
      registry_token: ${{ secrets.REGISTRY_TOKEN }}
      slack_webhook_url: ${{ secrets.SLACK_WEBHOOK_URL }}
