name: "e2e: noscience, gha"
on:
  push:
  pull_request:
    branches:
      - master
  schedule:
    # At 03:00 UTC on every day-of-week from Monday through Friday.
    - cron:  '0 3 * * 1-5'
jobs:
  call-workflow-passing-data:
    uses: ./.github/workflows/e2e-common.yml
    with:
      suffix: "noscience"
      runner: "['ubuntu-22.04']"
    secrets:
      registry_username: ${{ secrets.REGISTRY_USERNAME }}
      registry_token: ${{ secrets.REGISTRY_TOKEN }}
