name: Sentinel

on:
  schedule:
    # At 05:00 UTC on every day-of-week from Monday through Friday.
    - cron:  '0 5 * * 1-5'
  push:
    branches:
      - master
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-suite:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        survey: ["ztf", "rubin"]

    container:
      image: "julienpeloton/fink-ci-${{ matrix.survey }}:latest"

    env:
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

    steps:
    - uses: actions/checkout@v4

    - name: Set up env from container variables
      run: |
        echo "FINK_HOME=$GITHUB_WORKSPACE" >> $GITHUB_ENV
        echo "JAVA_HOME=$(dirname $(dirname $(readlink -f $(which java))))" >> $GITHUB_ENV
        echo "${BINPATH}" >> $GITHUB_PATH
    - name: Download simulator
      run: |
        git clone https://github.com/astrolabsoftware/fink-alert-simulator.git
        echo "FINK_ALERT_SIMULATOR=${FINK_HOME}/fink-alert-simulator/rootfs/fink" >> $GITHUB_ENV
    - name: Download schemas
      run: |
        git clone -c advice.detachedHead=false --depth 1 --filter=blob:none --sparse --branch v0.0.2-rc0 https://github.com/astrolabsoftware/fink-alert-schemas.git 
        cd fink-alert-schemas
        git sparse-checkout set ztf
        echo "FINK_SCHEMA=${FINK_HOME}/fink-alert-schemas" >> $GITHUB_ENV
    - name: Set up env [2/2]
      run: |
        echo "PYTHONPATH=$SPARK_HOME/python/lib/py4j-0.10.9.7-src.zip:${FINK_HOME}:${FINK_ALERT_SIMULATOR}:${PYTHONPATH}" >> $GITHUB_ENV
        echo "${FINK_HOME}/bin:${FINK_ALERT_SIMULATOR}/bin" >> $GITHUB_PATH
    - name: Check env
      run: |
        echo "PATH: $GITHUB_ENV"
        echo "FINK_HOME: $FINK_HOME"
        echo "SPARK_HOME: $SPARK_HOME"
        echo "SPARKLIB: $SPARKLIB"
        echo "FINK_ALERT_SIMULATOR: $FINK_ALERT_SIMULATOR"
        echo "FINK_SCHEMA: $FINK_SCHEMA"
        echo "KAFKA_HOME: $KAFKA_HOME"
        echo "PYTHONPATH: $PYTHONPATH"
        echo "JAVA_HOME: $JAVA_HOME"
        echo `python -V`
    - name: Run ZTF test suite
      run: |
        # to remove
        export KAFKA_OPTS="-Djava.net.preferIPv4Stack=True"
        cd $USRLIBS
        source scripts/start_services.sh --kafka-version ${KAFKA_VERSION} --hbase-version ${HBASE_VERSION}
        cd $FINK_HOME
        if [ "${{ matrix.survey }}" == "ztf" ]; then
          fink_test_ztf -c conf/ztf/fink.conf.dev --stream-integration --db-integration --mm-offline --unit-tests
          curl -s https://codecov.io/bash | bash
        elif [ "${{ matrix.survey }}" == "rubin" ]; then
          fink_test_rubin -c conf/rubin/fink.conf.dev --stream-integration --db-integration --unit-tests
        fi
    - uses: actions/upload-artifact@v4
      with:
        name: logs
        path: broker_logs
        retention-days: 7
        overwrite: true
      if: always()
    - uses: act10ns/slack@v1
      with:
        status: ${{ job.status }}
      if: always()
